//@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
//@import "tailwindcss";
//@plugin "daisyui";
//
////VARIABLES
////colors
//$container-bg: #cae7b9;
//
////typography
//$font-family: 'Figtree', sans-serif;
//
//* {
//  font-family: $font-family;
//}
//
//.container {
//  @apply bg-gray-400 relative w-full h-0 shadow;
//  width: 100%;
//  background-color: $container-bg;
//
//  p {
//    @apply tw-text-sky-500 ;
//  }
//}
