@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

/*VARIABLES*/
:root {
  /*COLORS*/
  --container-bg: #cae7b9;
  --font-family: 'Figtree';

  /*NUMBERS*/
  --container-radius: 30px;
}

* {
  font-family: var(--font-family), sans-serif;
}

body {
  @apply m-[48px];
}

.container {
  @apply flex justify-center px-[100px] py-[85px] w-full rounded-[30px]; /*layout & spacing*/
  /*bg should be added as a prop so it can be different*/
  background-color: var(--container-bg);

  p {
    @apply  text-black;
  }
}

.container-with-title {
  @apply flex flex-col gap-[24px] p-[24px] w-full rounded-[30px];
  background-color: var(--container-bg);

  p {
    @apply  text-black;
  }

  h2 {
    @apply text-black;
  }
}